/* Container principal */
.container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 95vw;
  color: #fefefe;
}

/* Título */
h1{
  color: #0857A0;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45), 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
}

/* Formulário */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

/* Inputs */
.form input {
  width: 80vw;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  background-color: #0856a098;
}

input::placeholder{
  color: #0857A0;
  font-weight: bold;
}

input:focus{
  outline: 3px solid #0857A0;
}

/* Wrapper para inputs de senha com ícone */
.containerPassword {
  position: relative;
  width: 80vw;
}

.containerPassword input {
  width: 100%;
  padding-right: 40px; /* espaço para o ícone */
}

/* Ícones de olho */
.btnSenha {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #0c0c0c;
  user-select: none;
  z-index: 5;
}

/* Placeholder flutuante para datas ou outros inputs */
.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper .placeholder {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #0857A0;
  font-weight: bold;
  pointer-events: none;
  z-index: 1000;
  font-size: 0.8rem;
}

.input-wrapper input:focus + .placeholder,
.input-wrapper input:valid + .placeholder {
  display: none;
}

/* Input de Nome */
.nome input {
  width: 80vw;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  background-color: #0856a098;
  color: #fff;
}

.nome input::placeholder {
  color: #0857A0;
  font-weight: bold;
}

.nome input:focus {
  outline: 3px solid #0857A0;
}


/* Link de redefinir senha */
.redefinir{
  color: #0857A0;
  font-size: 0.7rem;
  cursor: pointer;
}

/* Botão Entrar */
.entrar {
  background-color: #0857A0;
  color: #fff;
  border: 1px solid #000;
  border-radius: 35px;
  padding: 0.8rem;
  font-size: 0.9rem;
  width: 70vw;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  justify-content: center;
  margin-top: 10%;
}

/* Status */
#status {
  margin-top: 1rem;
  font-weight: 500;
}

/* Responsividade */
@media(max-width: 900px){
  h1{
    font-size: 3rem;
  }
}

@media(max-width: 700px){
  h1{
      font-size: 2rem;
  }
  .cadastro{
    font-size: 0.8rem;
  }
}
