body {
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    gap: 1rem;
}

h1{
  color: #0857A0;
  font-weight: bolder;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45), 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  top: 0;
  margin-bottom: 5%;
}

.container-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 1rem;
}

.container-itens h2 {
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    width: 80vw;
    text-align: center;
}

.container input {
  width: 80vw;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  background-color: #0856a098;
}

input::placeholder{
  color: #0857A0;
  font-weight: bold;
}

input:focus{
  outline: 3px solid #0857A0;
}

.btn-redefinir {
    background-color: #0857A0;
    color: #fff;
    border: 1px solid #000;
    border-radius: 35px;
    padding: 0.8rem;
    font-size: 0.9rem;
    width: 50vw;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    justify-content: center;
}

h3 {
    color: #0857A0;
    font-size: 1rem;
}