*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background: linear-gradient(#9B5DE5, #00BBF9);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    a{
        text-decoration: none;
        color: inherit;
    }
}

#titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.titulo{
    color: #eee;
    font-size: 4rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45), 4px 4px 10px rgba(0, 0, 0, 0.3);

}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}   

.img-logo{
    width: 8vw;
    height: 15vh;
}

.logo-gif {
  display: flex;
  width: 2vw;
  height: 3vh;
  background-color: #004b96;
  border-radius: 50%;
  animation: heartbeat 1.5s infinite;
}


/* Ondas que saem do círculo */
.logo-gif::before,
.logo-gif::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid rgba(0, 59, 135, 0.5);
  border-radius: 50%;
  opacity: 0;
  animation: ripple 1.5s ease-out infinite;
}

/* atraso para criar efeito de várias ondas */
.logo-gif::after {
  animation-delay: 0.2s;
}

@keyframes heartbeat{
  0% { transform: scale(1) }
  10% { transform: scale(1.2) }
  20% { transform: scale(1) }
  30% { transform: scale(1) }
  40% { transform: scale(1) }
  100% { transform: scale(1) }
}

/* Animação das ondas */
@keyframes ripple {
  0% {
    transform: scale(1);
    
  }
  70% {
    transform: scale(2.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.8);
    opacity: 0;
  }
}

.entrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

button{
    background-color: #0857A0;
    border-radius: 30px;
    border: 1px solid #000;
    color: #eee;
    width: 50vw;
    height: 6vh;
    font-size: 1rem;
    cursor: pointer;
}

@media(max-width: 900px){
    .titulo{
        font-size: 4rem;
    }
    .img-logo{
        width: 9vw;
        height: 8vh;
    }
    .logo-gif{
        height: 1.5vh;
    }
}


@media(max-width: 700px){
    .titulo{
        font-size: 3rem;
    }
    .img-logo{
        width: 12vw;
        height: 13vh;
    }
    .logo-gif{
        height: 2vh;
    }
    .cadastro{
        font-size: 0.8rem;
    }
}

@media(max-width: 500px){
    .img-logo{
        height: 8vh;
    }
    .logo-gif{
        height: 1vh;
    }
}